<template>
  <div class="container">
    <el-button class='add_menber'>新增管理员</el-button>
    <div class="content_box">
        <div class="table">
            <el-table :data="tableData" style="width: 100%" :row-class-name="tableRowClassName" calss='tabbox' :header-cell-style="{background:'#EA625A',color:'white'}">
                <el-table-column prop="date" label="管理员类型" width="180"></el-table-column>
                <el-table-column prop="name" label="所属部门" width="180"></el-table-column>
                <el-table-column prop="address" label="负责人"></el-table-column>
                <el-table-column  label="权限"  width="300">
                    <template slot-scope="scope">
                        <el-tag class='tags_list' v-for='(item,index) in scope.row.jurist'>{{item.text}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="mesranage" label="管理范围"></el-table-column>
                <el-table-column
                    fixed="right"
                    label="操作"
                    width="180">
                    <template slot-scope="scope">
                        <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
                        <el-button type="text" size="small">编辑</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Jurisdiction',
  data() {
    return {
      navtab: [
        { text: '消息通知' },
        { text: '系统公告' }
      ],
      tableData: [{
        date: '2016-05-02',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1518 弄',
        jurist: [
          { text: '内容管理' },
          { text: '文档管理' }
        ],
        mesranage: '全部'
      },
      {
        date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          jurist: [
          { text: '内容管理' },
          { text: '文档管理' }
        ],
        mesranage: '全部'
        }, {
          date: '2016-05-01',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          jurist: [
          { text: '内容管理' },
          { text: '文档管理' }
        ],
        mesranage: '全部'
        }, {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          jurist: [
          { text: '内容管理' },
          { text: '文档管理' }
        ],
        mesranage: '全部'
        }]
    }
  },
  computed: {
    
  },
  mounted() {
   
  },
  methods: {
    tableRowClassName({row, rowIndex}) {
        if (rowIndex === 1) {
          return 'warning-row';
        } else if (rowIndex === 3) {
          return 'success-row';
        }
        return '';
      }
  }
}
</script>
<style >
    /* .el-table .warning-row {
        background: #FEF9F9;
    }
    .el-table .success-row {
        background: #f0f9eb;
     } */
     tr:nth-child(even) {
         background: #FEF9F9;
         }
     tr:nth-child(odd) {
         background: #FFF;
         }
</style>
<style lang="scss" scoped>
    .container{
        width: 96%;
        margin: 30px;
        height: auto;
        .add_menber{
            color: #EA625A;
            border: 1px solid #EA625A;
        }
        .content_box{
            width:100%;
            height:800px;
            margin-top: 20px;
            background:rgba(255,255,255,1);
            box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.2);
            border-radius:4px;
            .table{
               padding: 15px;
               .tags_list{
                  color: #EA625A;
                  border: 1px solid #EA625A; 
                  margin-right: 20px;
                  border-radius: 4px;
                  background: white;
               }
            }
        }
    }
</style>
