<template>
  <div class="navbar">
    <hamburger :is-active="sidebar.opened" class="hamburger-container" @toggleClick="toggleSideBar" v-if="false"/>
    <breadcrumb class="breadcrumb-container" v-if="false"/>
    <span class='wecolme_title'>您好!,欢迎登陆!</span>
    <div class="right-menu">
      <el-dropdown class="avatar-container" trigger="click">
        <div class="avatar-wrapper">
          <img :src="avatar+'?imageView2/1/w/80/h/80'" class="user-avatar">
          <!-- <i class="el-icon-caret-bottom" /> -->
        </div>
        <el-dropdown-menu slot="dropdown" class="user-dropdown">
          <router-link to="/">
            <el-dropdown-item>
              张三
            </el-dropdown-item>
          </router-link>
          <a target="_blank" href="https://github.com/PanJiaChen/vue-admin-template/">
            <el-dropdown-item>个人设置</el-dropdown-item>
          </a>
          <a target="_blank" href="https://panjiachen.github.io/vue-element-admin-site/#/">
            <el-dropdown-item>Docs</el-dropdown-item>
          </a>
          <el-dropdown-item divided>
            <span style="display:block;" @click="logout">退出登录</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <div class="mess" @click="skipnotice()"> 
        <span class='red'></span>
      </div>
    </div>
    <div class='boss' v-if="showstatus">
      <Notice ref='notice' />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'
import Notice from '../components/Notice'

export default {
  components: {
    Breadcrumb,
    Hamburger,
    Notice
  },
  data() {
    return {
      showstatus: false
    }
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar'
    ])
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    async logout() {
      await this.$store.dispatch('user/logout')
      this.$router.push(`/login?redirect=${this.$route.fullPath}`)
    },
    skipnotice() {
      console.log(99)
      this.showstatus = !this.showstatus
      //this.$refs.notice.showstatus = !this.$refs.notice.showstatus
      //this.showstatus = !this.showstatus
    }
  }
}
</script>
<style >
  .notice{
        width: 200px;
      }
</style>
<style lang="scss" scoped>
.navbar {
  height: 80px;
  position: relative;
  background:#F4F7F9;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  .hamburger-container {
    line-height: 80px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }
  .wecolme_title{
    color: #000000;
    font-size: 18px;
    line-height: 80px;
    padding-left: 81px;
  }
  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;
    width: 30%;
    &:focus {
      outline: none;
    }
    .mess{
      width: 48px;
      height: 50px;
      position: relative;
      border: 1px solid #666;
      float:right;
      top: 15px;
      margin-right: 14%;
      line-height: 80px;
      cursor: pointer;
      .red{
        width: 16px;
        height: 16px;
        background: #EA625A;
        position: absolute;
        right: -7px;
        top: -7px;
        border-radius: 50%;
      }
    }
    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 60px;
      float:right;
      .avatar-wrapper {
        margin-top: 15px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
