<template>
  <div class="noticebox">
    <ul class='notice_tab'>
        <li  v-for='(item,index) in navtab' :class=" isactive==index ? 'active':''" :key='index' @click='tabchoose(index)'>{{item.text}}</li>
    </ul>
    <div class="ntice_list">
        <ul class='list_box'>
            <li v-for="(item,index) in listtab" :key="index" @click="looknotice(index)" :class=" actives==index ? 'list_active':''">
                <div class='iconimg'>
                    <img class='show_icon' :src='item.icon' v-if="item.active==0"/>
                    <img class='show_icon' :src='item.iconed' v-else/>
                    <div class='jiao'>8</div>
                </div>
                <div class='list_mess'>
                    <p>{{item.text}}</p>
                    <p>2019-11-01</p>
                </div>
            </li>
        </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Notice',
  data() {
    return {
      navtab: [
        { text: '消息通知' },
        { text: '系统公告' }
      ],
      listtab: [],
      navboxmes: [
        { text: '通知公告', icon: require('../../assets/image/notice/icon_notice.png'), active: 0, iconed: require('../../assets/image/notice/icon_notice-active.png') },
        { text: '审批工作', icon: require('../../assets/image/notice/icon_approval.png'), active: 1, iconed: require('../../assets/image/notice/icon_approval-active.png') },
        { text: '参政议政', icon: require('../../assets/image/notice/icon_politice.png'), active: 0, iconed: require('../../assets/image/notice/icon_politice-active.png') },
        { text: '社务工作', icon: require('../../assets/image/notice/icon_community.png'), active: 0, iconed: require('../../assets/image/notice/icon_community-active.png') }
      ],
      navboxsys: [
        { text: '社务工作', icon: require('../../assets/image/notice/icon_stystm.png'), active: 0, iconed: require('../../assets/image/notice/icon_systm-active.png') }
      ],
      isactive: 0,
      actives: 0,
      typetab: 0,
      typeinde: 0,
      showstatus: false
    }
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar'
    ])
  },
  mounted() {
    this.listtab = this.navboxmes
    this.listtab[this.typetab].active = 1
  },
  methods: {
    tabchoose(index) {
      this.isactive = index
      if (index == 0) {
        this.listtab = this.navboxmes
      } else {
        this.listtab = this.navboxsys
      }
      this.listtab[this.typetab].active = 1
    },
    looknotice(index) {
      this.actives = index  
      this.navboxmes.map((item, index) => {
        item.active = 0
      })
      this.navboxsys.map((item, index) => {
        item.active = 0
      })
      this.listtab[index].active = 1
    }
  }
}
</script>

<style lang="scss" scoped>
    .noticebox{
        width:210px;
        height:auto;
        background:rgba(255,255,255,1);
        box-shadow:0px 0px 6px 0px rgba(70,70,70,0.39);
        border-radius:4px;
        position: absolute;
        right: 5%;
        z-index: 99999999;
        .notice_tab{
            height: 40px;
            line-height: 40px;
            display: flex;
            padding: 0;
            justify-content: space-around;
            position: relative;
            border-bottom: 2px solid #EEEEEE;
            li{
               font-size: 14px;
            }
            .active{
                color: #EA625A;
            }
            .active:after{
                width: 70px;
                height: 1px;
                background:#EA625A; 
                bottom: 0;
                margin-left: -32%;
                content: " ";
                position: absolute;
            }
        }
        .ntice_list{
            width: 100%;
            height: auto;
            margin-top: -10px;
            .list_box{
                display: flex;
                flex-direction: column;
                li{
                   display: flex;
                   justify-content: flex-start;  
                   width: 100%;
                   border-bottom: 1px solid #EEEEEE;
                   padding: 8px 14px;
                   .iconimg{
                        width: 36px;
                        height: 36px;
                        top: 25px;
                        position: relative; 
                        .show_icon{
                            float: left;
                            width: 36px;
                            height: 36px;
                        }
                        .jiao{
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            background: #FB5248;
                            right: -7px;
                            top: -7px;
                            font-size: 10px;
                            text-align: center;
                            line-height: 20px;
                            color: white;
                            border-radius: 50%;
                        }   
                    }
                    .list_mess{
                        font-size: 14px;
                        margin-left: 18px;
                        width: 60%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        p{  
                            color: #787878;
                            width:100%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        p:nth-child(2){
                            font-size:10px;
                        }
                    }
                }
                // li .iconimg:nth-child(1){
                //     background-image: url(../../assets/image/notice/icon_notice.png)
                // }
                .list_active{
                    // .iconimg{
                    //     background-image: url(../../assets/image/notice/icon_notice-active.png)
                    // }
                    color: #787878;
                    .list_mess{
                        p:nth-child(1){
                            color: #262626;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
</style>
