<template>
  <div class='container'>
     <div class="container_tab">
        <el-button type="danger">危险按钮</el-button>
     </div>
  </div>
</template>

<script>

  export default {
    name:'contentlist',
    props:[''],
    data () {
      return {

      };
    },

    components: {},

    computed: {},

    beforeMount() {},

    mounted() {},

    methods: {},

    watch: {}

  }

</script>
<style lang='scss' scoped>
  .container{
    .container_tab{
      width:96%;
      height:98px;
      background:rgba(255,255,255,1);
      box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.2);
      border-radius:8px;
      margin: 30px;
    }
  }
</style>